.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-member {
    margin: 10px; /* Optional: Add some spacing between team members */
    padding: 15px; /* Add padding to the team-member div */
    border: 1px solid #ddd; /* Add a 1px solid border with a light gray color */
}

.team-member img {
    width: 250px; /* Set the width of the image to 250 pixels */
    height: 300px; /* Set the height of the image to 250 pixels */
}